
h1, h2, h3 {
    color: #56055b;
    font-family: Georgia, serif;
}

p, li {
    color: black;
    font-family: Arial, sans-serif;
}

#recipe-container {
    background-color: #e9cdf2;
    padding: 1px 20px 20px 20px;
}

.home_button {
    display: block;
    margin: 5px auto;
    background-color: #e9cdf2;
    border: 3px dotted #56055b;
}

li {
    margin-bottom: 4px;
    width: 400px
}